<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        {%- if page.lang == "fr" -%}
          <h2 class="footer-heading">Réseaux sociaux</h2>
        {%- else -%}
          <h2 class="footer-heading">Social networks</h2>
        {%- endif -%}
        <ul class="social-media-list">
          <li>
            {% include icon-github.html username=site.github_username %} &nbsp;&nbsp;&nbsp;&nbsp; {% include icon-twitter.html username=site.twitter_username %}
          </li>

          <li>
            {% include icon-linkedin.html username=site.linkedin_username %} &nbsp;&nbsp;&nbsp;&nbsp; {% include icon-reddit.html username=site.reddit_username %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2" style="text-align:right;">
          <img src="/assets/images/vroger11_photo.jpg" width="128" alt="vroger11 photo">
      </div>

      <div class="footer-col footer-col-3">
        {%- if page.lang == "fr" -%}
          <h2 class="footer-heading">À propos de moi</h2>
        {%- else -%}
          <h2 class="footer-heading">About me</h2>
        {%- endif -%}

        <p>{{ site.description[page.lang] }}</p>
      </div>
    </div>

  </div>

</footer>
