---
layout: default
---

<div class="blog">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}

    {%- if page.lang == "fr" -%}
      <p class="rss-subscribe">Vous pouvez vous abonner à mon flux via <a href="{{ "/feed/blogue.xml" | relative_url }}">Atom/RSS</a>.</p>
    {%- else -%}
      <p class="rss-subscribe">You can subscribe to my feed via <a href="{{ "/feed/blog.xml" | relative_url }}">Atom/RSS</a>.</p>
    {%- endif -%}

    <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1>

    <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
      {%- for post in posts -%}
      <li>
        {%- if page.lang == "fr" -%}
          {%- assign date_format = "%-d %b %Y" -%}
        {%- else -%}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- endif -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
